@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #0f172a;
  --secondary-color: #64748b;
  --accent-color: #f59e0b;
  --font-family: 'Inter', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-accent: var(--accent-color);
  --font-tenant: var(--font-family);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family);
}